<flynt-component load:on="visible" name="BlockWysiwyg" style="background-color:{% if options.colorBackground %}{{ options.colorBackground }}{% else %}var(--grey){% endif %};">
  <div class="wrapper w-full max-w-screen-xl mx-auto px-sm py-md md:px-lg md:py-xl">
    {{ contentHtml|e('wp_kses_post') }}
  </div>
</flynt-component>
