flynt-component[name='NavigationFooter'] {
  font-size: 1.15rem !important;

  .content {
    color: var(--white);
    font-family: 'Archivo Bold', 'Trebuchet MS', sans-serif;
  }

  @import 'Partials/menu';
}
