<flynt-component load:on="visible" name="NavigationFooter" class="bg-orange">
  <div class="w-full max-w-screen-xl mx-auto p-sm">
    <div class="flex flex-col lg:flex-row justify-between gap-lg items-center">
    {% if logoFooter %}
      <img class="logo lazyload max-w-[150px]"
        src="{{ logoFooter.src }}"
        data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
        data-sizes="auto">
    {% endif %}
    {% if contentHtml %}
      <div class="content">{{ contentHtml|e('wp_kses_post') }}</div>
    {% endif %}
    </div>
    {% if menu %}
      <nav class="navigation" aria-label="{{ labels.ariaLabel }}">
        {% include 'Partials/_menu.twig' with { 'items': menu.get_items, 'level': '0', 'maxLevel': maxLevel } only %}
      </nav>
    {% endif %}
  </div>
</flynt-component>
