flynt-component[name='HeroContactForm'] {
  #{$input-selectors} {
    appearance: none;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 0;
    caret-color: var(--black);
    color: var(--black);
    font-size: var(--body-font-size-small);
    margin-bottom: 0;
    max-width: 100%;
    outline: none;
    padding: 10px;
    transition: border-color 0.3s ease-in-out;
    width: 100%;
  
    &::placeholder {
      color: var(--black);
      opacity: 0.5;
    }
  
    &:disabled {
      cursor: default;
      opacity: 0.5;
      pointer-events: none;
    }
  
    &:invalid {
      border-color: var(--color-error);
    }
  }

  .label-custom {
    // @apply uppercase;
    @apply font-bold;
    @apply mb-[10px];
  }

  input {
    @apply px-0;
    @apply py-0;

    @media (max-width: $breakpoint-tablet) {
      max-width: 200px;
    }
  }

  input[type='radio'] {
    margin-block-start: 0;
  }

  input[type='file'] {
    @apply w-[350px];
    @apply sm:w-[450px];
    @apply md:w-[600px];
    @apply my-[5px];
    @apply md:my-0;
  }

  select {
    border: 1px solid var(--black);
  }

  input[type='submit'] {
    @include reset-link;
    font-family: 'Archivo Black', 'Trebuchet MS', sans-serif;
    @apply appearance-none;
    @apply cursor-pointer;
    @apply flex;
    @apply font-bold;
    @apply gap-sm;
    @apply items-center;
    @apply no-underline;
    @apply px-sm;
    @apply py-[10px];
    @apply mt-md;
    @apply relative;
    @apply rounded-full;
    @apply text-button;
    @apply text-center;
    @apply transition-all;
    @apply ease-linear;
    @apply duration-200;
    @apply h-fit;
    @apply w-fit;
    @apply z-50;
    @apply bg-blue;
    @apply border-blue;
    @apply border-3;
    @apply hover:bg-transparent;
    @apply text-white;
    @apply hover:text-blue;
  }
}
