{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post">
    <header class="post-header">
      {{ renderComponent('BlockPartnerHeader', { post: post }) }}
    </header>
    <section class="post-main">
      {% for component in post.meta('partnerComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
    </section>
    <section class="post-related">
      {% for component in post.meta('relatedPilotComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
    </section>
  </article>
{% endblock %}
