{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post">
    <header class="post-header">
      {{ renderComponent('BlockNewsHeader', { post: post }) }}
    </header>
    <section class="post-main">
      {% for component in post.meta('postComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
    </section>
    <section class="post-related">
      {{ renderComponent('ListingNews', {'preContentTitle': '<h1>' ~ __('Related News') ~ '</h1>', 'taxonomies': post.categories(), 'options': {'maxPosts': 3}}) }}
    </section>
  </article>
{% endblock %}
