{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post">
    <header class="post-header">
      {{ renderComponent('BlockPilotHeader', { post: post }) }}
    </header>
    <section class="post-main">
      {% for component in post.meta('pilotComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
    </section>
    <section class="post-related">
      {{ renderComponent('RelatedPilots', {'preContentTitle': __('Related Pilots'), 'taxonomies': post.categories(), 'options': {'maxPosts': 3}}) }}
    </section>
  </article>
{% endblock %}
