.menu {
  @include reset-list;
  font-family: 'Archivo Bold', 'Trebuchet MS', sans-serif;
  list-style: none !important;

  &-link {
    @include reset-link;
    color: var(--white);

    &:hover,
    &:focus {
      color: var(--green);
      text-decoration: none;
    }
  }

  &-item {
    transition: transform 0.2s ease-in-out;

    &:hover,
    &:focus {
      color: var(--green);
      text-decoration: none;
    }

    .menu-image {
      height: auto;
      width: 80px;
    }
  }

  .current-menu-item {
    .menu-link {
      color: var(--green);
      text-decoration: none;
    }
  }
}
