<flynt-component load:on="idle" name="NavigationMain" class="bg-grey block relative w-full max-w-screen-xl p-sm mx-auto">
  <nav class="navigation  z-[99] " aria-label="{{ labels.ariaLabel|e }}">
    <div class="flex flex-row align-middle justify-between gap-sm h-full">
      {% include 'Partials/_logo.twig' with { 'logo': logo, 'site': site } only %}
      <div class="flex flex-row justify-between gap-lg align-middle items-center">
      {% if menu %}
        {% include 'Partials/_menu.twig' with { 'items': menu.items } only %}
      {% endif %}
      {% include 'Partials/_cta.twig' with { 'ctaLink': ctaLink } only %}
      </div>
    </div>
  </nav>
</flynt-component>
